In [30]:
import numpy as np 
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [31]:
df=pd.read_csv("https://raw.githubusercontent.com/kunalnandre/TE-Laboratory-Practicals/main/Data%20Science%20and%20Big%20Data/Mini%20Project/covid_vaccine_statewise.csv")
df.describe()

,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
count,7.621000e+03,7.621000e+03,7621.000000,7.621000e+03,7.621000e+03,7.461000e+03,7.461000e+03,7461.000000,7.621000e+03,7.621000e+03,...,1.702000e+03,1.702000e+03,1.702000e+03,3.733000e+03,3.734000e+03,3.734000e+03,1.600000e+02,1.600000e+02,160.000000,5.919000e+03
mean,9.188171e+06,4.792358e+05,2282.872064,7.414415e+06,1.773755e+06,3.620156e+06,3.168416e+06,1162.978019,1.044669e+06,8.126553e+06,...,8.773958e+06,7.442161e+06,5.641605e+06,1.395895e+06,2.916515e+06,2.627444e+06,4.461687e+07,3.951018e+07,12370.543750,4.547842e+06
std,3.746180e+07,1.911511e+06,7275.973730,2.995209e+07,7.570382e+06,1.737938e+07,1.515310e+07,5931.353995,4.452259e+06,3.298414e+07,...,2.660829e+07,2.225999e+07,1.681650e+07,5.501454e+06,9.567607e+06,8.192225e+06,3.950749e+07,3.417684e+07,12485.026753,1.834182e+07
min,7.000000e+00,0.000000e+00,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000,0.000000e+00,7.000000e+00,...,2.662400e+04,1.681500e+04,9.994000e+03,1.059000e+03,1.136000e+03,5.580000e+02,2.375700e+04,2.451700e+04,2.000000,7.000000e+00
25%,1.356570e+05,6.004000e+03,69.000000,1.166320e+05,1.283100e+04,5.655500e+04,5.210700e+04,8.000000,0.000000e+00,1.331340e+05,...,4.344842e+05,2.326275e+05,1.285605e+05,5.655400e+04,9.248225e+04,5.615975e+04,5.739350e+06,5.023407e+06,1278.750000,7.427550e+04
50%,8.182020e+05,4.547000e+04,597.000000,6.614590e+05,1.388180e+05,3.897850e+05,3.342380e+05,113.000000,1.185100e+04,7.567360e+05,...,3.095970e+06,2.695938e+06,1.805696e+06,2.947270e+05,8.330395e+05,7.887425e+05,3.716590e+07,3.365402e+07,8007.500000,4.022880e+05
75%,6.625243e+06,3.428690e+05,1708.000000,5.387805e+06,1.166434e+06,2.735777e+06,2.561513e+06,800.000000,7.579300e+05,6.007817e+06,...,7.366241e+06,6.969726e+06,5.294763e+06,9.105160e+05,2.499280e+06,2.337874e+06,7.441663e+07,6.685368e+07,19851.000000,3.501562e+06
max,5.132284e+08,3.501031e+07,73933.000000,4.001504e+08,1.130780e+08,2.701636e+08,2.395186e+08,98275.000000,6.236742e+07,4.468251e+08,...,2.243304e+08,1.667575e+08,1.186927e+08,9.224315e+07,9.096888e+07,6.731098e+07,1.349420e+08,1.156684e+08,46462.000000,2.506569e+08

In [32]:
print("Number of persons state wise vaccinated for first dose in India")
first_dose = df.groupby('State')[['First Dose Administered']].sum()
first_dose

Number of persons state wise vaccinated for first dose in India

                                          First Dose Administered
State
Andaman and Nicobar Islands                          1.642585e+07
Andhra Pradesh                                       1.232861e+09
Arunachal Pradesh                                    4.900498e+07
Assam                                                5.856002e+08
Bihar                                                1.470503e+09
Chandigarh                                           4.470310e+07
Chhattisgarh                                         7.960029e+08
Dadra and Nagar Haveli and Daman and Diu             3.359506e+07
Delhi                                                6.243395e+08
Goa                                                  7.599137e+07
Gujarat                                              2.131646e+09
Haryana                                              7.557984e+08
Himachal Pradesh                                     3.162940e+08
India                                                2.826214e+10
Jammu and Kashmir                                    4.101018e+08
Jharkhand                                            6.036737e+08
Karnataka                                            1.873330e+09
Kerala                                               1.193845e+09
Ladakh                                               1.780925e+07
Lakshadweep                                          4.363655e+06
Madhya Pradesh                                       1.796605e+09
Maharashtra                                          2.784364e+09
Manipur                                              6.740957e+07
Meghalaya                                            6.261597e+07
Mizoram                                              4.787308e+07
Nagaland                                             4.241077e+07
Odisha                                               1.032633e+09
Puducherry                                           4.134686e+07
Punjab                                               5.843466e+08
Rajasthan                                            2.201044e+09
Sikkim                                               3.698093e+07
Tamil Nadu                                           1.288533e+09
Telangana                                            8.803206e+08
Tripura                                              1.926897e+08
Uttar Pradesh                                        2.788411e+09
Uttarakhand                                          3.631914e+08
West Bengal                                          1.796450e+09

In [33]:
print("Number of persons state wise vaccinated for second dose in India")

first_dose = df.groupby('State')[['Second Dose Administered']].sum()
first_dose

Number of persons state wise vaccinated for second dose in India

                                          Second Dose Administered
State
Andaman and Nicobar Islands                           4.118554e+06
Andhra Pradesh                                        3.588176e+08
Arunachal Pradesh                                     1.193232e+07
Assam                                                 1.307888e+08
Bihar                                                 2.707906e+08
Chandigarh                                            1.159374e+07
Chhattisgarh                                          1.721204e+08
Dadra and Nagar Haveli and Daman and Diu              4.594416e+06
Delhi                                                 1.882189e+08
Goa                                                   1.619817e+07
Gujarat                                               6.004184e+08
Haryana                                               1.586561e+08
Himachal Pradesh                                      7.383858e+07
India                                                 6.759621e+09
Jammu and Kashmir                                     8.595165e+07
Jharkhand                                             1.221211e+08
Karnataka                                             4.271872e+08
Kerala                                                3.640488e+08
Ladakh                                                5.453762e+06
Lakshadweep                                           1.056446e+06
Madhya Pradesh                                        3.169330e+08
Maharashtra                                           7.128811e+08
Manipur                                               1.185815e+07
Meghalaya                                             1.216663e+07
Mizoram                                               9.998418e+06
Nagaland                                              9.204637e+06
Odisha                                                2.513028e+08
Puducherry                                            8.608859e+06
Punjab                                                1.211210e+08
Rajasthan                                             4.917030e+08
Sikkim                                                9.723640e+06
Tamil Nadu                                            2.906706e+08
Telangana                                             1.981529e+08
Tripura                                               6.527014e+07
Uttar Pradesh                                         5.544351e+08
Uttarakhand                                           1.000850e+08
West Bengal                                           5.861469e+08

In [34]:
male = df["Male(Individuals Vaccinated)"].sum()
print("Number of Males vaccinated are", int(male))

Number of Males vaccinated are 7138698858

In [35]:
female = df["Female(Individuals Vaccinated)"].sum()
print("Number of females vaccinated are", int(female))

Number of females vaccinated are 6321628736

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7845 entries, 0 to 7844
Data columns (total 24 columns):
Updated On                             7845 non-null object
State                                  7845 non-null object
Total Doses Administered               7621 non-null float64
Sessions                               7621 non-null float64
 Sites                                 7621 non-null float64
First Dose Administered                7621 non-null float64
Second Dose Administered               7621 non-null float64
Male (Doses Administered)              7461 non-null float64
Female (Doses Administered)            7461 non-null float64
Transgender (Doses Administered)       7461 non-null float64
 Covaxin (Doses Administered)          7621 non-null float64
CoviShield (Doses Administered)        7621 non-null float64
Sputnik V (Doses Administered)         2995 non-null float64
AEFI                                   5438 non-null float64
18-44 Years (Doses Administered)       1702 non-null float64
45-60 Years (Doses Administered)       1702 non-null float64
60+ Years (Doses Administered)         1702 non-null float64
18-44 Years(Individuals Vaccinated)    3733 non-null float64
45-60 Years(Individuals Vaccinated)    3734 non-null float64
60+ Years(Individuals Vaccinated)      3734 non-null float64
Male(Individuals Vaccinated)           160 non-null float64
Female(Individuals Vaccinated)         160 non-null float64
Transgender(Individuals Vaccinated)    160 non-null float64
Total Individuals Vaccinated           5919 non-null float64
dtypes: float64(22), object(2)
memory usage: 1.4+ MB

In [37]:
df.describe(include='object')

        Updated On  State
count         7845   7845
unique         213     37
top     07/08/2021  Delhi
freq            37    213

In [38]:
df.shape

(7845, 24)

In [39]:
df.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [40]:
df.tail()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN